tools/GatorTec Contact Forms.json
{
  "name": "GatorTec Contact Forms",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-b2b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -656,
        2096
      ],
      "id": "32cb41f2-3f4e-453e-b683-e6b1ba3e8dfa",
      "name": "Webhook (B2B Form)",
      "webhookId": "contact-b2b-001"
    },
    {
      "parameters": {
        "jsCode": "// Build TWO RFC822 messages per submission and return as separate items.\n// HTTP Request node iterates once per item \u2192 two emails sent.\nconst raw = $input.first().json.body || $input.first().json;\n\nfunction str(v) { return v == null ? '' : String(v).trim(); }\nfunction join(v) { if (Array.isArray(v)) return v.join(', '); return str(v); }\nfunction esc(s) {\n  return String(s == null ? '' : s)\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;').replace(/'/g, '&#39;');\n}\nfunction encH(s) {\n  if (/[^\\x00-\\x7F]/.test(s)) return '=?UTF-8?B?' + Buffer.from(s, 'utf-8').toString('base64') + '?=';\n  return s;\n}\nfunction b64url(s) {\n  return Buffer.from(s, 'utf-8').toString('base64').replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n}\n\nconst data = {\n  name:      str(raw['Name']      || raw['name']),\n  company:   str(raw['Company']   || raw['company']),\n  email:     str(raw['email']     || raw['Email']),\n  phone:     str(raw['Phone']     || raw['phone']),\n  teamSize:  str(raw['Team Size'] || raw['team_size']),\n  timeline:  str(raw['Timeline']  || raw['timeline']),\n  interests: join(raw['Interests']|| raw['interests'] || raw['interests[]']),\n  message:   str(raw['Message']   || raw['message']),\n  gotcha:    str(raw['_alt_contact']),\n};\n\n// Geo-block: high-risk countries (sanctions + high-spam regions, no realistic legit business).\n// Country codes per ISO 3166-1 alpha-2; cf-ipcountry set by Cloudflare.\nconst _country = ($input.first().json.headers && $input.first().json.headers['cf-ipcountry']) || '';\nconst _blockedCountries = ['XK','AL','RU','BY','IR','KP','CU','SY','NG','PK','BD'];\nif (_blockedCountries.includes(_country)) return [{ json: { skip: true, reason: `country_blocked_${_country}` } }];\n\nif (data.gotcha) return [{ json: { skip: true, reason: 'honeypot' } }];\nconst _now = Date.now();\nconst _ts = parseInt(raw['_form_ts']) || 0;\nif (!_ts || (_now - _ts) < 3000) return [{ json: { skip: true, reason: 'too_fast' } }];\nif (!data.email || !data.name || !data.message) throw new Error('Missing required fields: name, email, or message');\n\nconst firstName = data.name.split(/\\s+/)[0] || data.name;\nconst FROM_NAME = 'GatorTec B2B';\nconst FROM_EMAIL = 'b2b@gatortec.com';\nconst INTERNAL_EMAIL = 'b2b@gatortec.com';\n\nconst fieldRows = [\n  ['Name', data.name],\n  ['Company', data.company || '\u2014'],\n  ['Email', data.email],\n  ['Phone', data.phone || '\u2014'],\n  ['Team size', data.teamSize || '\u2014'],\n  ['Timeline', data.timeline || '\u2014'],\n  ['Interests', data.interests || '\u2014'],\n];\n\nfunction rowsHtml(rows) {\n  return rows.map((r, i) => {\n    const bg = i % 2 === 0 ? '#f5f7fa' : '#ffffff';\n    return '<tr><td style=\"padding:11px 16px;color:#5b6671;font-weight:600;width:35%;background:' + bg + ';border-bottom:1px solid #eceff2;font-size:13.5px\">' + esc(r[0]) + '</td><td style=\"padding:11px 16px;color:#1a1d21;background:' + bg + ';border-bottom:1px solid #eceff2;font-size:14.5px\">' + esc(r[1]) + '</td></tr>';\n  }).join('');\n}\n\nfunction htmlShell(heading, intro, rows, msgLabel, msg, footerText) {\n  return '<!doctype html><html><body style=\"margin:0;padding:0;background:#f5f7fa;font-family:-apple-system,\\'Helvetica Neue\\',Arial,sans-serif;color:#1a1d21\">' +\n    '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:100%;background:#f5f7fa;padding:24px 0\"><tr><td align=\"center\">' +\n    '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:100%;max-width:620px;background:#ffffff;border-radius:14px;overflow:hidden;box-shadow:0 1px 3px rgba(0,0,0,0.04)\">' +\n    '<tr><td style=\"background:#0171B9;color:#ffffff;padding:22px 32px\">' +\n      '<div style=\"font-size:13px;font-weight:700;letter-spacing:.12em;text-transform:uppercase;opacity:.85;margin-bottom:4px\">GatorTec B2B</div>' +\n      '<div style=\"font-size:20px;font-weight:700\">' + esc(heading) + '</div>' +\n    '</td></tr>' +\n    '<tr><td style=\"padding:28px 32px 8px\">' +\n      '<p style=\"margin:0 0 22px;font-size:15px;line-height:1.55;color:#1a1d21\">' + intro + '</p>' +\n      '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:100%;border-collapse:collapse;border-radius:10px;overflow:hidden;border:1px solid #dde1e6\">' +\n        rowsHtml(rows) +\n      '</table>' +\n      '<div style=\"margin-top:24px\">' +\n        '<div style=\"font-size:11.5px;font-weight:700;letter-spacing:.1em;text-transform:uppercase;color:#5b6671;margin-bottom:8px\">' + esc(msgLabel) + '</div>' +\n        '<div style=\"background:#f5f7fa;border-left:3px solid #0171B9;padding:14px 18px;border-radius:6px;font-size:15px;line-height:1.55;color:#1a1d21;white-space:pre-wrap\">' + esc(msg) + '</div>' +\n      '</div>' +\n    '</td></tr>' +\n    '<tr><td style=\"padding:18px 32px 28px;border-top:1px solid #eceff2\">' +\n      '<p style=\"margin:0;font-size:12.5px;line-height:1.5;color:#8b95a0\">' + footerText + '</p>' +\n    '</td></tr>' +\n    '</table></td></tr></table></body></html>';\n}\n\nfunction plainBlock(title, intro, rows, msg, footer) {\n  const lines = [title, '', intro, ''];\n  for (const r of rows) lines.push(r[0] + ': ' + r[1]);\n  lines.push('', '\u2014 Message \u2014', msg, '', '---', footer);\n  return lines.join('\\r\\n');\n}\n\nfunction buildRfc822({ fromName, fromEmail, to, replyTo, subject, html, plain }) {\n  const boundary = '----=_NextPart_' + Math.random().toString(36).slice(2, 14);\n  const headers = [\n    'From: \"' + fromName + '\" <' + fromEmail + '>',\n    'To: ' + to,\n    'Reply-To: ' + replyTo,\n    'Subject: ' + encH(subject),\n    'MIME-Version: 1.0',\n    'Content-Type: multipart/alternative; boundary=\"' + boundary + '\"',\n  ];\n  const body = [\n    '--' + boundary,\n    'Content-Type: text/plain; charset=UTF-8',\n    'Content-Transfer-Encoding: 8bit', '',\n    plain, '',\n    '--' + boundary,\n    'Content-Type: text/html; charset=UTF-8',\n    'Content-Transfer-Encoding: 8bit', '',\n    html, '',\n    '--' + boundary + '--',\n  ];\n  return b64url(headers.join('\\r\\n') + '\\r\\n\\r\\n' + body.join('\\r\\n'));\n}\n\n// === 1. CUSTOMER CONFIRMATION EMAIL ===\nconst custHtml = htmlShell(\n  'Thanks for reaching out',\n  'Hi ' + esc(firstName) + ' \u2014 a GatorTec account manager will be in touch soon. Here\\'s a copy of your submission for your records.',\n  fieldRows, 'Your message', data.message,\n  'Reply to this email to reach the GatorTec B2B team. Or call us at 352.505.9088.'\n);\nconst custPlain = plainBlock(\n  'Thanks for reaching out \u2014 GatorTec B2B',\n  'Hi ' + firstName + ' \u2014 a GatorTec account manager will be in touch soon. Here is a copy of your submission for your records.',\n  fieldRows, data.message,\n  'Reply to this email to reach the GatorTec B2B team. Or call us at 352.505.9088.'\n);\nconst custMsg = buildRfc822({\n  fromName: FROM_NAME, fromEmail: FROM_EMAIL,\n  to: data.email,\n  replyTo: '\"GatorTec B2B\" <' + FROM_EMAIL + '>',\n  subject: 'Thanks \u2014 we got your inquiry',\n  html: custHtml, plain: custPlain,\n});\n\n// === 2. INTERNAL NOTIFICATION EMAIL ===\nconst internalHtml = htmlShell(\n  'New B2B inquiry',\n  'A new B2B inquiry came in via the gatortec.com contact form. Hit reply to respond directly to <strong>' + esc(data.name) + '</strong> &lt;' + esc(data.email) + '&gt;.',\n  fieldRows, 'Message from customer', data.message,\n  'Reply to this email to respond to the customer. They\\'ll receive your reply directly.'\n);\nconst internalPlain = plainBlock(\n  'New B2B inquiry \u2014 gatortec.com contact form',\n  'A new B2B inquiry came in. Reply to this email to respond directly to ' + data.name + ' <' + data.email + '>.',\n  fieldRows, data.message,\n  'Reply to this email to respond to the customer. They will receive your reply directly.'\n);\nconst internalMsg = buildRfc822({\n  fromName: FROM_NAME, fromEmail: FROM_EMAIL,\n  to: INTERNAL_EMAIL,\n  replyTo: '\"' + data.name + '\" <' + data.email + '>',\n  subject: 'New B2B inquiry \u2014 ' + (data.company ? data.company + ' (' + data.name + ')' : data.name),\n  html: internalHtml, plain: internalPlain,\n});\n\nreturn [\n  { json: { skip: false, raw: custMsg, kind: 'customer' } },\n  { json: { skip: false, raw: internalMsg, kind: 'internal' } },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        2096
      ],
      "id": "03980716-c0aa-4c4e-bf00-0cedfbbacb39",
      "name": "Code (Build B2B Message)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        2096
      ],
      "id": "63b5eb69-34f5-45f0-a66d-a6f413a45a02",
      "name": "If not honeypot (B2B)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ raw: $json.raw }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        2000
      ],
      "id": "7f2fe554-d84b-4197-8ddd-b478e3874118",
      "name": "Send via Gmail API (B2B)",
      "credentials": {
        "gmailOAuth2": {
          "id": "hY2enj3jpAfraW2D",
          "name": "Jim @ GatorTec"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "https://gatortec.com/contact/thanks.html",
        "options": {
          "responseCode": 303
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        224,
        2096
      ],
      "id": "050e8bf0-f86e-489f-928a-05824589bb4d",
      "name": "Redirect to Thanks (B2B)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-store",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -656,
        2496
      ],
      "id": "2512e4e0-8ff7-47da-b8a5-43bfdba02579",
      "name": "Webhook (Consumer Form)",
      "webhookId": "contact-store-001"
    },
    {
      "parameters": {
        "jsCode": "// Build TWO RFC822 messages per submission and return as separate items.\nconst raw = $input.first().json.body || $input.first().json;\n\nfunction str(v) { return v == null ? '' : String(v).trim(); }\nfunction join(v) { if (Array.isArray(v)) return v.join(', '); return str(v); }\nfunction esc(s) {\n  return String(s == null ? '' : s)\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;').replace(/'/g, '&#39;');\n}\nfunction encH(s) {\n  if (/[^\\x00-\\x7F]/.test(s)) return '=?UTF-8?B?' + Buffer.from(s, 'utf-8').toString('base64') + '?=';\n  return s;\n}\nfunction b64url(s) {\n  return Buffer.from(s, 'utf-8').toString('base64').replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n}\n\nconst data = {\n  name:      str(raw['Name']      || raw['name']),\n  email:     str(raw['email']     || raw['Email']),\n  phone:     str(raw['Phone']     || raw['phone']),\n  interests: join(raw['Interests']|| raw['interests'] || raw['interests[]']),\n  message:   str(raw['Message']   || raw['message']),\n  gotcha:    str(raw['_alt_contact']),\n};\n\n// Geo-block: high-risk countries (sanctions + high-spam regions, no realistic legit business).\n// Country codes per ISO 3166-1 alpha-2; cf-ipcountry set by Cloudflare.\nconst _country = ($input.first().json.headers && $input.first().json.headers['cf-ipcountry']) || '';\nconst _blockedCountries = ['XK','AL','RU','BY','IR','KP','CU','SY','NG','PK','BD'];\nif (_blockedCountries.includes(_country)) return [{ json: { skip: true, reason: `country_blocked_${_country}` } }];\n\nif (data.gotcha) return [{ json: { skip: true, reason: 'honeypot' } }];\nconst _now = Date.now();\nconst _ts = parseInt(raw['_form_ts']) || 0;\nif (!_ts || (_now - _ts) < 3000) return [{ json: { skip: true, reason: 'too_fast' } }];\nif (!data.email || !data.name || !data.message) throw new Error('Missing required fields: name, email, or message');\n\nconst firstName = data.name.split(/\\s+/)[0] || data.name;\nconst FROM_NAME = 'GatorTec Store';\nconst FROM_EMAIL = 'store@gatortec.com';\nconst INTERNAL_EMAIL = 'store@gatortec.com';\n\nconst fieldRows = [\n  ['Name', data.name],\n  ['Email', data.email],\n  ['Phone', data.phone || '\u2014'],\n  ['Interests', data.interests || '\u2014'],\n];\n\nfunction rowsHtml(rows) {\n  return rows.map((r, i) => {\n    const bg = i % 2 === 0 ? '#f5f7fa' : '#ffffff';\n    return '<tr><td style=\"padding:11px 16px;color:#5b6671;font-weight:600;width:35%;background:' + bg + ';border-bottom:1px solid #eceff2;font-size:13.5px\">' + esc(r[0]) + '</td><td style=\"padding:11px 16px;color:#1a1d21;background:' + bg + ';border-bottom:1px solid #eceff2;font-size:14.5px\">' + esc(r[1]) + '</td></tr>';\n  }).join('');\n}\n\nfunction htmlShell(heading, intro, rows, msgLabel, msg, footerText) {\n  return '<!doctype html><html><body style=\"margin:0;padding:0;background:#f5f7fa;font-family:-apple-system,\\'Helvetica Neue\\',Arial,sans-serif;color:#1a1d21\">' +\n    '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:100%;background:#f5f7fa;padding:24px 0\"><tr><td align=\"center\">' +\n    '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:100%;max-width:620px;background:#ffffff;border-radius:14px;overflow:hidden;box-shadow:0 1px 3px rgba(0,0,0,0.04)\">' +\n    '<tr><td style=\"background:#0171B9;color:#ffffff;padding:22px 32px\">' +\n      '<div style=\"font-size:13px;font-weight:700;letter-spacing:.12em;text-transform:uppercase;opacity:.85;margin-bottom:4px\">GatorTec Store</div>' +\n      '<div style=\"font-size:20px;font-weight:700\">' + esc(heading) + '</div>' +\n    '</td></tr>' +\n    '<tr><td style=\"padding:28px 32px 8px\">' +\n      '<p style=\"margin:0 0 22px;font-size:15px;line-height:1.55;color:#1a1d21\">' + intro + '</p>' +\n      '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:100%;border-collapse:collapse;border-radius:10px;overflow:hidden;border:1px solid #dde1e6\">' +\n        rowsHtml(rows) +\n      '</table>' +\n      '<div style=\"margin-top:24px\">' +\n        '<div style=\"font-size:11.5px;font-weight:700;letter-spacing:.1em;text-transform:uppercase;color:#5b6671;margin-bottom:8px\">' + esc(msgLabel) + '</div>' +\n        '<div style=\"background:#f5f7fa;border-left:3px solid #0171B9;padding:14px 18px;border-radius:6px;font-size:15px;line-height:1.55;color:#1a1d21;white-space:pre-wrap\">' + esc(msg) + '</div>' +\n      '</div>' +\n    '</td></tr>' +\n    '<tr><td style=\"padding:18px 32px 28px;border-top:1px solid #eceff2\">' +\n      '<p style=\"margin:0;font-size:12.5px;line-height:1.5;color:#8b95a0\">' + footerText + '</p>' +\n    '</td></tr>' +\n    '</table></td></tr></table></body></html>';\n}\n\nfunction plainBlock(title, intro, rows, msg, footer) {\n  const lines = [title, '', intro, ''];\n  for (const r of rows) lines.push(r[0] + ': ' + r[1]);\n  lines.push('', '\u2014 Message \u2014', msg, '', '---', footer);\n  return lines.join('\\r\\n');\n}\n\nfunction buildRfc822({ fromName, fromEmail, to, replyTo, subject, html, plain }) {\n  const boundary = '----=_NextPart_' + Math.random().toString(36).slice(2, 14);\n  const headers = [\n    'From: \"' + fromName + '\" <' + fromEmail + '>',\n    'To: ' + to,\n    'Reply-To: ' + replyTo,\n    'Subject: ' + encH(subject),\n    'MIME-Version: 1.0',\n    'Content-Type: multipart/alternative; boundary=\"' + boundary + '\"',\n  ];\n  const body = [\n    '--' + boundary,\n    'Content-Type: text/plain; charset=UTF-8',\n    'Content-Transfer-Encoding: 8bit', '',\n    plain, '',\n    '--' + boundary,\n    'Content-Type: text/html; charset=UTF-8',\n    'Content-Transfer-Encoding: 8bit', '',\n    html, '',\n    '--' + boundary + '--',\n  ];\n  return b64url(headers.join('\\r\\n') + '\\r\\n\\r\\n' + body.join('\\r\\n'));\n}\n\n// Customer confirmation\nconst custHtml = htmlShell(\n  'Thanks for reaching out',\n  'Hi ' + esc(firstName) + ' \u2014 a GatorTec expert will be in touch soon. Here\\'s a copy of your submission for your records.',\n  fieldRows, 'Your message', data.message,\n  'Reply to this email to reach the GatorTec Store team. Or call us at 352.505.7582.'\n);\nconst custPlain = plainBlock(\n  'Thanks for reaching out \u2014 GatorTec Store',\n  'Hi ' + firstName + ' \u2014 a GatorTec expert will be in touch soon. Here is a copy of your submission for your records.',\n  fieldRows, data.message,\n  'Reply to this email to reach the GatorTec Store team. Or call us at 352.505.7582.'\n);\nconst custMsg = buildRfc822({\n  fromName: FROM_NAME, fromEmail: FROM_EMAIL,\n  to: data.email,\n  replyTo: '\"GatorTec Store\" <' + FROM_EMAIL + '>',\n  subject: 'Thanks \u2014 we got your message',\n  html: custHtml, plain: custPlain,\n});\n\n// Internal notification\nconst internalHtml = htmlShell(\n  'New consumer inquiry',\n  'A new inquiry came in via the gatortec.com home contact form. Hit reply to respond directly to <strong>' + esc(data.name) + '</strong> &lt;' + esc(data.email) + '&gt;.',\n  fieldRows, 'Message from customer', data.message,\n  'Reply to this email to respond to the customer. They\\'ll receive your reply directly.'\n);\nconst internalPlain = plainBlock(\n  'New consumer inquiry \u2014 gatortec.com',\n  'A new inquiry came in. Reply to this email to respond directly to ' + data.name + ' <' + data.email + '>.',\n  fieldRows, data.message,\n  'Reply to this email to respond to the customer. They will receive your reply directly.'\n);\nconst internalMsg = buildRfc822({\n  fromName: FROM_NAME, fromEmail: FROM_EMAIL,\n  to: INTERNAL_EMAIL,\n  replyTo: '\"' + data.name + '\" <' + data.email + '>',\n  subject: 'New consumer inquiry \u2014 ' + data.name,\n  html: internalHtml, plain: internalPlain,\n});\n\nreturn [\n  { json: { skip: false, raw: custMsg, kind: 'customer' } },\n  { json: { skip: false, raw: internalMsg, kind: 'internal' } },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        2496
      ],
      "id": "8c3eeb9c-78bf-4f00-8766-4595fbb26714",
      "name": "Code (Build Store Message)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        2496
      ],
      "id": "da32cfdf-f549-448f-b008-e0219dcbe2b0",
      "name": "If not honeypot (Store)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ raw: $json.raw }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        2400
      ],
      "id": "a85a02de-6fcd-42c7-a9b6-6749a5a17107",
      "name": "Send via Gmail API (Store)",
      "credentials": {
        "gmailOAuth2": {
          "id": "hY2enj3jpAfraW2D",
          "name": "Jim @ GatorTec"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "https://gatortec.com/contact/thanks.html",
        "options": {
          "responseCode": 303
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        224,
        2496
      ],
      "id": "deb8e7c9-427b-4511-90fe-1da0c17fd1a9",
      "name": "Redirect to Thanks (Store)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lostbag",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -656,
        2608
      ],
      "id": "6b69bfe5-d28b-4378-a2c5-b7b6f83a572a",
      "name": "Webhook (Lost Bag)",
      "webhookId": "lostbag-jimdufek-2026"
    },
    {
      "parameters": {
        "jsCode": "// Build the Lost Bag email\nconst raw = $input.first().json.body || $input.first().json;\n\nfunction str(v) { return v == null ? '' : String(v).trim(); }\nfunction esc(s) {\n  return String(s == null ? '' : s)\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n    .replace(/\\\"/g, '&quot;').replace(/'/g, '&#39;');\n}\nfunction encH(s) {\n  if (/[^\\x00-\\x7F]/.test(s)) return '=?UTF-8?B?' + Buffer.from(s, 'utf-8').toString('base64') + '?=';\n  return s;\n}\nfunction b64url(s) {\n  return Buffer.from(s, 'utf-8').toString('base64').replace(/\\+/g, '-').replace(/\\//g, '_').replace(/=+$/, '');\n}\n\nconst data = {\n  name:    str(raw['Name']),\n  contact: str(raw['Contact']),\n  where:   str(raw['Where']),\n  story:   str(raw['Story']),\n  gotcha:  str(raw['_gotcha']),\n};\n\n// Geo-block: high-risk countries (sanctions + high-spam regions, no realistic legit business).\n// Country codes per ISO 3166-1 alpha-2; cf-ipcountry set by Cloudflare.\nconst _country = ($input.first().json.headers && $input.first().json.headers['cf-ipcountry']) || '';\nconst _blockedCountries = ['XK','AL','RU','BY','IR','KP','CU','SY','NG','PK','BD'];\nif (_blockedCountries.includes(_country)) return [{ json: { skip: true, reason: `country_blocked_${_country}` } }];\n\nif (data.gotcha) return [{ json: { skip: true, reason: 'honeypot' } }];\nif (!data.name || !data.contact) {\n  throw new Error('Missing required fields: name or contact');\n}\n\nconst FROM_NAME = 'Lost Bag Bot';\nconst FROM_EMAIL = 'jim@gatortec.com';\nconst TO_EMAIL = 'jim@jimdufek.com';\n\nconst subject = 'Lost bag tip from ' + data.name;\n\nconst rows = [\n  ['Name', data.name],\n  ['How to reach them', data.contact],\n  ['Where they found it', data.where || '(not provided)'],\n];\n\nfunction rowsHtml(rs) {\n  return rs.map((r, i) => {\n    const bg = i % 2 === 0 ? '#f5f7fa' : '#ffffff';\n    return '<tr><td style=\"padding:11px 16px;color:#5b6671;font-weight:600;width:38%;background:' + bg + ';border-bottom:1px solid #eceff2;font-size:13.5px\">' + esc(r[0]) + '</td><td style=\"padding:11px 16px;color:#1a1d21;background:' + bg + ';border-bottom:1px solid #eceff2;font-size:14.5px\">' + esc(r[1]) + '</td></tr>';\n  }).join('');\n}\n\nconst html = '<!doctype html><html><body style=\"margin:0;padding:0;background:#f5f7fa;font-family:-apple-system,Helvetica,Arial,sans-serif;color:#1a1d21\">' +\n  '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:100%;background:#f5f7fa;padding:24px 0\"><tr><td align=\"center\">' +\n  '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:100%;max-width:620px;background:#ffffff;border-radius:14px;overflow:hidden;box-shadow:0 1px 3px rgba(0,0,0,0.04)\">' +\n  '<tr><td style=\"background:#2a1a0a;color:#fbf2d2;padding:22px 32px\">' +\n    '<div style=\"font-size:13px;font-weight:700;letter-spacing:.12em;text-transform:uppercase;opacity:.7;margin-bottom:4px\">jimdufek.com</div>' +\n    '<div style=\"font-size:22px;font-weight:700\">Someone found your bag.</div>' +\n  '</td></tr>' +\n  '<tr><td style=\"padding:28px 32px 8px\">' +\n    '<p style=\"margin:0 0 22px;font-size:15px;line-height:1.55\">A tip came in via the lost-bag page. Reach out via the contact below \\u2014 and pay the reward.</p>' +\n    '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width:100%;border-collapse:collapse;border-radius:10px;overflow:hidden;border:1px solid #dde1e6\">' +\n      rowsHtml(rows) +\n    '</table>' +\n    (data.story ? ('<div style=\"margin-top:24px\">' +\n      '<div style=\"font-size:11.5px;font-weight:700;letter-spacing:.1em;text-transform:uppercase;color:#5b6671;margin-bottom:8px\">Their story</div>' +\n      '<div style=\"background:#f5f7fa;border-left:3px solid #c9a04b;padding:14px 18px;border-radius:6px;font-size:15px;line-height:1.55;color:#1a1d21;white-space:pre-wrap\">' + esc(data.story) + '</div>' +\n    '</div>') : '') +\n  '</td></tr>' +\n  '<tr><td style=\"padding:18px 32px 28px;border-top:1px solid #eceff2\">' +\n    '<p style=\"margin:0;font-size:12.5px;line-height:1.5;color:#8b95a0\">Reply to this email to respond directly. Submitted via jimdufek.com/lostbag.</p>' +\n  '</td></tr>' +\n  '</table></td></tr></table></body></html>';\n\nconst plain = [\n  'A lost-bag tip came in via jimdufek.com/lostbag.',\n  '',\n  'Name: ' + data.name,\n  'How to reach them: ' + data.contact,\n  'Where they found it: ' + (data.where || '(not provided)'),\n  '',\n  data.story ? '--- Their story ---\\n' + data.story : '(No story provided.)',\n  '',\n  '---',\n  'Reply to this email to respond. Submitted via jimdufek.com/lostbag.',\n].join('\\r\\n');\n\nconst boundary = '----=_NextPart_' + Math.random().toString(36).slice(2, 14);\nconst headers = [\n  'From: \"' + FROM_NAME + '\" <' + FROM_EMAIL + '>',\n  'To: ' + TO_EMAIL,\n  'Reply-To: \"' + data.name + '\" <' + data.contact + '>',\n  'Subject: ' + encH(subject),\n  'MIME-Version: 1.0',\n  'Content-Type: multipart/alternative; boundary=\"' + boundary + '\"',\n];\nconst body = [\n  '--' + boundary,\n  'Content-Type: text/plain; charset=UTF-8',\n  'Content-Transfer-Encoding: 8bit', '',\n  plain, '',\n  '--' + boundary,\n  'Content-Type: text/html; charset=UTF-8',\n  'Content-Transfer-Encoding: 8bit', '',\n  html, '',\n  '--' + boundary + '--',\n];\n\nconst raw_msg = b64url(headers.join('\\r\\n') + '\\r\\n\\r\\n' + body.join('\\r\\n'));\n\nreturn [{ json: { skip: false, raw: raw_msg } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        2608
      ],
      "id": "6326bfc0-42af-476b-a445-405a193fe8b0",
      "name": "Code (Build Lost Bag Message)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        2608
      ],
      "id": "f08189a1-626c-4427-8eff-6cdbe1a643e5",
      "name": "If not honeypot (Lost Bag)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ raw: $json.raw }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        2608
      ],
      "id": "7a46f181-fabd-47cd-8bf5-bc8443df2d2b",
      "name": "Send via Gmail API (Lost Bag)",
      "credentials": {
        "gmailOAuth2": {
          "id": "hY2enj3jpAfraW2D",
          "name": "Jim @ GatorTec"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        304,
        2608
      ],
      "id": "ab8f0857-276e-4c83-9ad9-42d0ecb8722b",
      "name": "Respond OK (Lost Bag)"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (B2B Form)": {
      "main": [
        [
          {
            "node": "Code (Build B2B Message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (Build B2B Message)": {
      "main": [
        [
          {
            "node": "If not honeypot (B2B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not honeypot (B2B)": {
      "main": [
        [
          {
            "node": "Send via Gmail API (B2B)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redirect to Thanks (B2B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Gmail API (B2B)": {
      "main": [
        [
          {
            "node": "Redirect to Thanks (B2B)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Consumer Form)": {
      "main": [
        [
          {
            "node": "Code (Build Store Message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (Build Store Message)": {
      "main": [
        [
          {
            "node": "If not honeypot (Store)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not honeypot (Store)": {
      "main": [
        [
          {
            "node": "Send via Gmail API (Store)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redirect to Thanks (Store)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Gmail API (Store)": {
      "main": [
        [
          {
            "node": "Redirect to Thanks (Store)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Lost Bag)": {
      "main": [
        [
          {
            "node": "Code (Build Lost Bag Message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (Build Lost Bag Message)": {
      "main": [
        [
          {
            "node": "If not honeypot (Lost Bag)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not honeypot (Lost Bag)": {
      "main": [
        [
          {
            "node": "Send via Gmail API (Lost Bag)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Gmail API (Lost Bag)": {
      "main": [
        [
          {
            "node": "Respond OK (Lost Bag)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "531093aa-b1d2-4bdb-a978-509cfd8b07d9",
  "meta": {
    "instanceId": "696a0ba8a4fcd1dee21720b36348953d9076e384585687a59b8ff11fea8545ee"
  },
  "nodeGroups": [],
  "id": "Pou4E2CqJ1jBb63x",
  "tags": []
}
